

<div style="display:grid; gap: 3rem; justify-content: center; margin-bottom: 3rem;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/kxsidsOCcS8?si=vrbz2mi6X2Vxy411" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/__Y53X0PAMk?si=pd5kgNQKhVvS4iAG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
